/******************************************************** ARTICLE ******************************************************/
.articles{
	position:relative;
	display:inline-block;
	width:100%;
	height:auto;
	.articles-holder{
		float:left;
		width:75%;
		height:auto;
		opacity:0;
		-moz-opacity:0;
		-khtml-opacity:0;
		-webkit-opacity:0;
		.article{
			position:relative;
			float:left;
			display:inline-block;
			width:50%;
			height:413px;
			padding:0 15px 30px 0;
			&:last-child{
				padding:0 15px 0 0;
			}
			a{
				color:inherit;
				font-weight:normal;
				&:hover, &:focus{
					text-decoration:none;
					.btn-area{
						span{
							background-color:$white;
							color:$blaze-orange;
					    transition:all 0.5s;
					    -webkit-transition:all 0.5s;
					    -moz-transition:all 0.5s;
					    -ms-transition:all 0.5s;
					    -o-transition:all 0.5s;
						}
					}
				}
				figure{
					margin:0 0 15px;
					img{
						width:100%;
						height:220px;
					}
				}
				h2{
					display:block;
					max-height:78px;
					color:$pacific-blue;
					font-size:20px;
					font-weight:bold;
					line-height:26px;
					text-transform:uppercase;
					overflow:hidden;
					margin:0 0 10px;
				}
				p{
					display:block;
					color:$scarpa-flow;
					font-size:14px;
					line-height:20px;
	  			text-overflow:ellipsis;
	  			white-space:nowrap;
					overflow:hidden;
					margin:0 0 10px;
				}
				.btn-area{
					position:absolute;
					bottom:30px;
					right:15px;
					span{
						color:$white;
						font-weight:inherit;
						text-transform:none;
						i{
							margin:0 0 0 7.5px;
						}
					}
				}
			}
		}
	}
	.widget-holder{
		float:left;
		width:25%;
		opacity:0;
		-moz-opacity:0;
		-khtml-opacity:0;
		-webkit-opacity:0;
		.widget{
			h3{
				margin:0 0 10px;
			}
			ul{
				border:0;
				li{
					position:relative;
					display:inline-block;
					width:100%;
					height:auto;
					margin:0 0 10px;
					&:last-child{
						margin:0;
					}
					figure{
						float:left;
						display:block;
						width:40%;
						height:100%;
						margin:0;
					}
					div{
						float:left;
						display:block;
						width:60%;
						height:auto;
						vertical-align:top;
						padding:0 0 0 10px;
						h4{
							display:block;
							color:$pacific-blue;
							font-size:14px;
							font-weight:bold;
							line-height:20px;
							text-overflow:ellipsis;
			  			white-space:nowrap;
							overflow:hidden;
							margin:0;
						}
					}
					a{
						position:absolute;
						bottom:0;
						right:0;
						width:calc(60% - 10px);
						font-size:12px;
						text-transform:none;
						padding:0;
						i{
							font-size:14px;
							margin:0 0 0 7.5px;
						}
					}
				}
			}
		}
	}
}
/*************************************************** MEDIAS QUERIES ****************************************************/
@include media('<=1299px') {
	.articles{
		.articles-holder{
			width:70%;
			.article{
				height:393px;
				a{
					figure{
						img{
							height:200px;
						}
					}
				}
			}
		}
		.widget-holder{
			width:30%;
		}
	}
}
@include media('<=1199px') {
	.articles{
		.articles-holder{
			.article{
				height:363px;
				a{
					figure{
						img{
							height:170px;
						}
					}
				}
			}
		}
	}
}
@include media('<=991px') {
	.articles{
		.articles-holder{
			width:100%;
			.article{
				height:432px;
				padding:0 7.5px 20px;
				a{
					figure{
						img{
							height:255px;
						}
					}
					h2{
						max-height:72px;
						font-size:18px;
						line-height:24px;
					}
					.btn-area{
						bottom:20px;
						right:7.5px;
					}
				}
			}
		}
		.widget-holder{
			width:100%;
			margin:20px 0 0;
			.widget{
				margin:0;
				ul{
					display:inline-block;
					li{
						float:left;
						width:33.33333333%;
						height:100%;
						margin:0;
						padding:0 5px 30px;
						&:first-child{
							padding:0 10px 30px 0;
							a{
								right:10px;
							}
						}
						&:last-child{
							padding:0 0 30px 10px;
							a{
								right:0;
							}
						}
						figure{
							width:100%;
							height:auto;
							margin:0 0 10px;
							img{
								width:100%;
								height:165px;
							}
						}
						div{
							width:100%;
							height:calc(100% - 165px);
							margin:0 0 10px;
							padding:0;
						}
						a{
							right:5px;
							width:calc(100% - 10px);
						}
					}
				}
			}
		}
	}
}
@include media('<=839px') {
	.articles{
		.articles-holder{
			.article{
				height:392px;
				a{
					figure{
						img{
							height:215px;
						}
					}
				}
			}
		}
		.widget-holder{
			.widget{
				ul{
					li{
						figure{
							img{
								height:140px;
							}
						}
					}
				}
			}
		}
	}
}
@include media('<=767px') {
	.articles{
		.articles-holder{
			.article{
				height:367px;
				a{
					figure{
						img{
							height:190px;
						}
					}
				}
			}
		}
		.widget-holder{
			.widget{
				ul{
					li{
						figure{
							img{
								height:130px;
							}
						}
					}
				}
			}
		}
	}
}
@include media('<=639px') {
		.articles{
		.articles-holder{
			.article{
				height:332px;
				a{
					figure{
						img{
							height:155px;
						}
					}
				}
			}
		}
		.widget-holder{
			.widget{
				ul{
					li{
						figure{
							img{
								height:105px;
							}
						}
					}
				}
			}
		}
	}
}
@include media('<=567px') {
	.articles{
		.articles-holder{
			.article{
				width:100%;
				height:auto;
				padding:0 0 20px;
				a{
					figure{
						img{
							height:auto;
						}
					}
					.btn-area{
						position:relative;
						bottom:0;
						right:0;
						width:100%;
						span{
							width:100%;
						}
					}
				}
			}
		}
		.widget-holder{
			.widget{
				ul{
					li{
						width:100%;
						height:auto;
						margin:0 0 10px;
						padding:0;
						&:first-child{
							padding:0;
							a{
								right:0;
							}
						}
						&:last-child{
							margin:0;
							padding:0;
							a{
								right:0;
							}
						}
						figure{
							width:50%;
							height:100%;
							margin:0;
							padding:0 10px 0 0;
							img{
								height:auto;
							}
						}
						div{
							width:50%;
							margin:0;
							padding:0 0 0 10px;
						}
						a{
							right:0;
							width:calc(50% - 10px);
						}
					}
				}
			}
		}
	}
}
@include media('<=479px') {
	.articles{
		.articles-holder{
			.article{
				a{
					h2{
						max-height:44px;
						font-size:16px;
						line-height:22px;
					}
					p{
						font-size:12px;
						line-height:18px;
					}
				}
			}
		}
		.widget-holder{
			margin:0;
			.widget{
				ul{
					li{
						div{
							h4{
								font-size:12px;
								line-height:18px;
							}
						}
					}
				}
			}
		}
	}
}